.area_roll_mask {
  //-webkit-mask: -webkit-gradient(linear, 0% 40%, 0% 0%, from(#debb47), to(rgba(36, 142, 36, 0)));
  //-webkit-mask: -webkit-linear-gradient(bottom, #debb47 50%, rgba(36, 142, 36, 0));
  padding: 0
}

.area_roll {
  display: flex;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: transparent;
  //-webkit-mask: -webkit-gradient(linear, 0% 50%, 0% 100%, from(#debb47), to(rgba(36, 142, 36, 0)));
  //-webkit-mask: -webkit-linear-gradient(top, #debb47 50%, rgba(36, 142, 36, 0))
}

.area_roll > div:nth-child(3) .area_grid > div {
  left: 42%
}